div.epayment_container{
    background: url(../img/epayment/payment_background.jpg) no-repeat top center;
    margin: 0;
    height: 803px;
    overflow: hidden;
}

div.epayment_header img{
    margin: 30px 0 10px 0;
}

div.epayment_loading{
    margin-top: 25px;
}

div.epayment_message{
    font-family: 'Heavy', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    font-weight: normal;
    font-style: normal;
    letter-spacing: -1px;
    margin-top: 20px;
}

label.epayment_blue{
    color: #015ea0;
    font-size: 32px;
    line-height: 1.2;
    font-weight: bold;
}

label.epayment_gray{
    color: #6f6f6e;
    font-size: 28px;
    font-weight: lighter;
}