.jScrollPaneContainer {
	margin-top:20px;
	position: relative;
	overflow: hidden;
	z-index: 0;
}

.jScrollPaneTrack {
	position: absolute;
	cursor: pointer;
	right: 0;
	top: 0;
	height: 100%;
	background: #e8e8e9;
}
.jScrollPaneDrag {
	position: absolute;
	background: #ceced0;
	cursor: pointer;
	overflow: hidden;
}
.jScrollPaneDragTop {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.jScrollPaneDragBottom {
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
}

a.jScrollArrowUp {
	display: block;
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	text-indent: -2000px;
	overflow: hidden;
	background: url(../img/fre_scrollUpButton.gif) no-repeat;
	height: 14px;
}
a.jScrollArrowUp:hover {
	background-position: 0 -15px;
	background: url(../img/fre_scrollUpButton.gif) no-repeat;
}
a.jScrollArrowDown {
	display: block;
	position: absolute;
	z-index: 1;
	bottom: 0;
	right: 0;
	text-indent: -2000px;
	overflow: hidden;
	background: url(../img/fre_scrollDownButton.gif) no-repeat;
	height: 14px;
}
a.jScrollArrowDown:hover {
	background-position: 0 -15px;
	background: url(../img/fre_scrollDownButton.gif) no-repeat;
}
a.jScrollActiveArrowButton, a.jScrollActiveArrowButton:hover {
	/*background-position: 0 -30px;*/
}