div.favorites_background{
	width: 872px;
	height: 582px;
	overflow: hidden;
}

div.fav_title{
	color: #FFF;
	font-size: 18px;
	font-weight: bold;
	margin-top: 5px;
}

div.fav_button{
	float: left;
	padding-top: 8px;
	padding-left: 30px;
	padding-right: 30px;
	width: 108px;
	text-align: center;
}

div.fav_button a{
	color: #FFF;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
}

.fav_label {
	color: #FFF;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
}

.fav_pointer {
	cursor: pointer;
}

.center {
	display: flex;
	justify-content: center;
}

.file_text {
	width: 90px;
    margin-bottom: 10px;
    margin-right: 5px;
}

.img-with-text {
	width: 550px;
	display: block;
	float: left;
}

.img-with-text img {
	/*display: block;
	margin: 0 auto;*/
}

.link-content {
    float: left;
    margin-right: 5px;
}

.fav_pointer img {
    height: 97px;
    margin-top: 10px;
}

.compare-file {
	width: 100px;
}