/*body{
	font-family:"Lucida Sans Unicode","Lucida Grande",Helvetica,Arial,sans-serif;
	font-size:14px;
	color:gray;
}*/
.mbmenu{
	display:none;
	cursor:pointer;
}
.rootVoices{
	/*background-color:#f3f3f3;*/
	padding-top:3px;
	padding-bottom:0;

}
.rootVoices td.rootVoice {
	vertical-align:middle;
	background-color:transparent;
	width:120px;
	font-family:Arial,Helvetica,sans-serif;
	color: gray;
	font-size:12px;
	line-height:18px;
	padding:8px;
	cursor: pointer;
	/*-moz-border-radius:8px 8px 0 0;*/
	/*-webkit-border-top-right-radius:8px;*/
	/*-webkit-border-top-left-radius:8px;*/
}

.rootVoices td.rootVoice.selected{
	background: orangered url("../images/bgnd_sel_4.png");
	padding:8px;
	color:#ffffff;
	cursor: pointer;
	font-size:14px;
	text-shadow:#660033 1px 1px 1px;
	-moz-box-shadow:#999 2px 2px 10px;
	-webkit-box-shadow:#999 2px 2px 10px;
}

table {
    margin-bottom: 0px;
}

.rootVoices.vertical {
	width:140px;
}
.rootVoices.vertical td.rootVoice{
	-moz-border-radius:8px 0px 0 8px;
	-webkit-border-top-right-radius:0px;
	-webkit-border-top-left-radius:8px;
	-webkit-border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:8px;

}

.menuShadow{
	padding:2px;
	padding-bottom:0px;
	left:-2px;
	top:1px;
}

/**/

.menuDiv .menuContainer{
	background-color:#3c65a5;
	padding:0;
	-moz-box-shadow:#999 2px 2px 10px;
	-webkit-box-shadow:#999 2px 2px 10px;
}
.menuDiv .menuDiv .menuContainer{
	background-color:#5173b9;
	padding:0;
	-moz-box-shadow:#999 2px 2px 10px;
	-webkit-box-shadow:#999 2px 2px 10px;
}
.menuDiv .menuDiv .menuDiv .menuContainer{
	background-color:#4c80cb;
	padding:0;
	-moz-box-shadow:#999 2px 2px 10px;
	-webkit-box-shadow:#999 2px 2px 10px;
}
.menuDiv .menuDiv .menuDiv .menuDiv .menuContainer{
	background-color:#6ca0eb;
	padding:0;
	-moz-box-shadow:#999 2px 2px 10px;
	-webkit-box-shadow:#999 2px 2px 10px;
}
.menuContainer .line{
	background-color:transparent;
	width:100%;
}
.menuContainer .line.title {
	background-color:#B23305;
	font-family:Arial,Helvetica,sans-serif;
	font-size:14px;
	border-bottom:1px solid darkred;
}
.menuContainer .line.title a{
	font-size:14px;
}
.menuContainer td a{
	text-decoration:none;
	color: #f3f3f3;
}
.menuContainer td.voice{
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	padding:0px;
	padding-left:10px;
	padding-top: 3px;
	padding-bottom: 2px;
}
.menuContainer .separator{
	background-color:#999;
	height:1px;
}
.menuContainer td.img{
	font-family:Arial,Helvetica,sans-serif;
	text-align:center;
	font-size:12px;
	color: #c3c3c3;
	background-color:transparent;
	width:24px;
	padding:5px;
}
.menuContainer td.img img{
	width:20px;
}
.menuContainer .textBox{
	padding: 10px;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	color: #c3c3c3;
}
.menuContainer .selected td{
	/*background-color:#03f3f3;*/
    background-image:url("../img/selectedBackground.png");
	padding-top: 3px;
	padding-bottom: 2px;
}
.menuContainer .selected td a{
	color:#fff;
	font-weight: bold;
}
.menuContainer .disabled td, .menuContainer .disabled td a {
	color: #cccccc;
}
.menu_reference{
	width: inherit;
	padding-right: 30%;
}
.menuContainer .subMenuOpener{
	background-image:url("../images/menuArrow_w.gif");
	background-repeat:no-repeat;
	background-position:right;
}
.menuContainer .selected .subMenuOpener{
	background-image:url("../images/menuArrow.gif");
	background-repeat:no-repeat;
	background-position:right;
}
.menuItem{
	cursor: pointer;
    text-align: center;
    height: 29px;
    padding-top:4px;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    background-image: url("../img/buttonBackground.png");
	background-repeat:no-repeat;
}
.myMenu{
    background-image:url("../img/menubar.png");
	height: 40px;
}
.span-3button{
    width:145px;
	height: 33px;
    float:left;
}

