/*
Stylish Select 0.3 - jQuery plugin to replace a select drop down box with a stylable unordered list
http://scottdarby.com/

Copyright (c) 2009 Scott Darby

Requires: jQuery 1.3

Licensed under the GPL license:
http://www.gnu.org/licenses/gpl.html
*/

/*==================================
remove default focus style
====================================*/
:focus {outline:none;}

.js ul.newList {left:-9999px;}

/*==================================
sales.tpl styles
====================================*/
#selCountryC ul.newList * {margin:0; padding:0;}
#selCountryC ul.newList {
    margin:0;
    padding:0;
    list-style:none;
    color:#000;
    width:200px;
    background:#fff;
    position:absolute;
    border:1px solid #ccc;
    top:22px;
    left:0;
    overflow:auto;
    z-index:9999;
}
#selCountryC .newListSelected {
    width:210px;
    color:#000;
    height:19px;
    padding:3px 0 0 6px;
    margin-left: 18px;
    _margin-left: 8px;
    float:left;
    background: url(../img/select-bg210.png) no-repeat;
}
#selCountryC .newListSelected span { width:210px; display:block; _margin-left: 8px;}
#selCountryC ul.newList li {padding:3px 8px; }
#selCountryC .selectedTxt { width:200px; overflow:hidden; height:16px; padding:0 23px 0 0;}
#selCountryC .hiLite {background:#0052A0!important; color:#fff!important;}
#selCountryC .newListHover { background:#7fbcf7!important; color:#fff!important; cursor:default;}
#selCountryC .newListSelHover, .newListSelFocus {background-position:0 -22px; cursor:default;}
#selCountryC .newListOptionTitle {font-weight:bold;}
#selCountryC .newListOptionTitle ul {margin:3px 0 0;}
#selCountryC .newListOptionTitle li {font-weight:normal; border-left:1px solid #ccc;}


/*==================================
support.tpl styles
====================================*/
#selCountryS {text-align: left;}
#selCountryS ul.newList {
    margin:0;
    padding:0;
    list-style:none;
    color:#000;
    width:170px;
    background:#fff;
    position:absolute;
    border:1px solid #ccc;
    top:22px;
    left:0;
    overflow:auto;
    z-index:9999;
}
#selCountryS .newListSelected {
    width:180px;
    color:#000;
    height:19px;
    padding:3px 0 0 6px;
    float:left;
    background: url(../img/select-bg180.png) no-repeat;
}
#selCountryS .newListSelected span { width:180px; display:block; _margin-left: 8px;}
#selCountryS ul.newList li {padding:3px 8px; }
#selCountryS .selectedTxt { width:170px; overflow:hidden; height:16px; margin-left: 5px;}
#selCountryS .hiLite {background:#0052A0!important; color:#fff!important;}
#selCountryS .newListHover { background:#7fbcf7!important; color:#fff!important; cursor:default;}
#selCountryS .newListSelHover, .newListSelFocus {background-position:0 -22px; cursor:default;}
#selCountryS .newListOptionTitle {font-weight:bold;}
#selCountryS .newListOptionTitle ul {margin:3px 0 0;}
#selCountryS .newListOptionTitle li {font-weight:normal; border-left:1px solid #ccc;}


/*==================================
index.tpl styles
====================================*/
#selProductC {text-align: left;}
#selProductC ul.newList {
    margin:0;
    padding:0;
    list-style:none;
    color:#000;
    width:170px;
    background:#fff;
    position:absolute;
    border:1px solid #ccc;
    top:22px;
    left:0;
    overflow:auto;
    z-index:9999;
}
#selProductC .newListSelected {
    width:180px;
    color:#000;
    height:19px;
    padding:3px 0 0 6px;
    float:left;
    background: url(../img/select-bg180.png) no-repeat;
    z-index:9999;
}
#selProductC .newListSelected span { width:180px; display:block; _margin-left: 8px;z-index:9999;}
#selProductC ul.newList li {padding:3px 8px; z-index:9999;}
#selProductC .selectedTxt { width:170px; overflow:hidden; height:16px; margin-left: 5px;z-index:9999;}
#selProductC .hiLite {background:#0052A0!important; color:#fff!important;z-index:9999;}
#selProductC .newListHover { background:#7fbcf7!important; color:#fff!important; cursor:default;z-index:9999;}
#selProductC .newListSelHover, .newListSelFocus {background-position:0 -22px; cursor:default;z-index:9999;}
#selProductC .newListOptionTitle {font-weight:bold;z-index:9999;}
#selProductC .newListOptionTitle ul {margin:3px 0 0;z-index:9999;}
#selProductC .newListOptionTitle li {font-weight:normal; border-left:1px solid #ccc;z-index:9999;}

/*==================================
index.tpl estimator
====================================*/
#selProductC {text-align: left;}
#selProductC ul.newList {
    margin:0;
    padding:0;
    list-style:none;
    color:#000;
    width:170px;
    background:#fff;
    position:absolute;
    border:1px solid #ccc;
    top:22px;
    left:0;
    overflow:auto;
    z-index:9999;
}
#selProductC .newListSelected {
    width:180px;
    color:#000;
    height:19px;
    padding:3px 0 0 6px;
    float:left;
    background: url(../img/select-bg180.png) no-repeat;z-index:9999;
}
#selProductC .newListSelected span { width:180px; display:block; _margin-left: 8px;z-index:9999;}
#selProductC ul.newList li {padding:3px 8px; }
#selProductC .selectedTxt { width:170px; overflow:hidden; height:16px; margin-left: 5px;z-index:9999;}
#selProductC .hiLite {background:#0052A0!important; color:#fff!important;z-index:9999;}
#selProductC .newListHover { background:#7fbcf7!important; color:#fff!important; cursor:default;z-index:9999;}
#selProductC .newListSelHover, .newListSelFocus {background-position:0 -22px; cursor:default;z-index:9999;}
#selProductC .newListOptionTitle {font-weight:bold;z-index:9999;}
#selProductC .newListOptionTitle ul {margin:3px 0 0;z-index:9999;}
#selProductC .newListOptionTitle li {font-weight:normal; border-left:1px solid #ccc;z-index:9999;}

/*==================================
index.tpl estimator 120 trip days
====================================*/
#selTripDaysC {text-align: left;}
#selTripDaysC ul.newList {
    margin:0;
    padding:0;
    list-style:none;
    color:#000;
    width:110px;
    background:#fff;
    position:absolute;
    border:1px solid #ccc;
    top:18px;
    left:0;
    overflow:auto;
    z-index:9999;
}
#selTripDaysC .newListSelected {
    width:120px;
    color:#000;
    height:16px;
    padding:0px 0 0 6px;
    float:left;
    background: url(../img/select-bg120.png) no-repeat;
}
#selTripDaysC .newListSelected span { width:120px; display:block; _margin-left: 8px;}
#selTripDaysC ul.newList li {padding:3px 8px; }
#selTripDaysC .selectedTxt { width:110px; overflow:hidden; height:16px; margin-left: 5px;}
#selTripDaysC .hiLite {background:#0052A0!important; color:#fff!important;}
#selTripDaysC .newListHover { background:#7fbcf7!important; color:#fff!important; cursor:default;}
#selTripDaysC .newListSelHover, .newListSelFocus {background-position:0 -19px; cursor:default;}
#selTripDaysC .newListOptionTitle {font-weight:bold;}
#selTripDaysC .newListOptionTitle ul {margin:3px 0 0;}
#selTripDaysC .newListOptionTitle li {font-weight:normal; border-left:1px solid #ccc;}

/*==================================
index.tpl estimator 180 trip days
====================================*/
#selTripDaysFull {text-align: left;}
#selTripDaysFull ul.newList {
    margin:0;
    padding:0;
    list-style:none;
    color:#000;
    width:170px;
    background:#fff;
    position:absolute;
    border:1px solid #ccc;
    top:22px;
    left:0;
    overflow:auto;
    z-index:9999;
}
#selTripDaysFull .newListSelected {
    width:180px;
    color:#000;
    height:19px;
    padding:3px 0 0 6px;
    float:left;
    background: url(../img/select-bg180.png) no-repeat;
}
#selTripDaysFull .newListSelected span { width:180px; display:block; _margin-left: 8px;}
#selTripDaysFull ul.newList li {padding:3px 8px; }
#selTripDaysFull .selectedTxt { width:170px; overflow:hidden; height:16px; margin-left: 5px;}
#selTripDaysFull .hiLite {background:#0052A0!important; color:#fff!important;}
#selTripDaysFull .newListHover { background:#7fbcf7!important; color:#fff!important; cursor:default;}
#selTripDaysFull .newListSelHover, .newListSelFocus {background-position:0 -22px; cursor:default;}

/*==================================
fEstimatorCustomerLogin estimator
====================================*/
#selectRegister {text-align: left;}
#selectRegister ul.newList {
    margin:0;
    padding:0;
    list-style:none;
    color:#000;
    width:170px;
    background:#fff;
    position:absolute;
    border:1px solid #ccc;
    top:22px;
    left:0;
    overflow:auto;
    z-index:9999;
}
#selectRegister .newListSelected {
    width:180px;
    color:#000;
    height:19px;
    padding:3px 0 0 6px;
    float:left;
    background: url(../img/select-bg180.png) no-repeat;
}
#selectRegister .newListSelected span { width:180px; display:block; _margin-left: 8px;}
#selectRegister ul.newList li {padding:3px 8px; }
#selectRegister .selectedTxt { width:170px; overflow:hidden; height:16px; margin-left: 5px;}
#selectRegister .hiLite {background:#0052A0!important; color:#fff!important;}
#selectRegister .newListHover { background:#7fbcf7!important; color:#fff!important; cursor:default;}
#selectRegister .newListSelHover, .newListSelFocus {background-position:0 -22px; cursor:default;}
#selectRegister .newListOptionTitle {font-weight:bold;}
#selectRegister .newListOptionTitle ul {margin:3px 0 0;}
#selectRegister .newListOptionTitle li {font-weight:normal; border-left:1px solid #ccc;}
#selTripDaysFull .newListOptionTitle {font-weight:bold;}
#selTripDaysFull .newListOptionTitle ul {margin:3px 0 0;}
#selTripDaysFull .newListOptionTitle li {font-weight:normal; border-left:1px solid #ccc;}

/*==================================
saleCustomerCreditCardData
====================================*/
#selectExpirationMonth {text-align: left;}
#selectExpirationMonth ul.newList {
    margin:0;
    padding:0;
    list-style:none;
    color:#000;
    width:170px;
    background:#fff;
    position:absolute;
    border:1px solid #ccc;
    top:22px;
    left:0;
    overflow:auto;
    z-index:9999;
}
#selectExpirationMonth .newListSelected {
    width:180px;
    color:#000;
    height:19px;
    padding:3px 0 0 6px;
    float:left;
    background: url(../img/select-bg128.png) no-repeat;
}
#selectExpirationMonth .newListSelected span { width:180px; display:block; _margin-left: 8px;}
#selectExpirationMonth ul.newList li {padding:3px 8px; }
#selectExpirationMonth .selectedTxt { width:170px; overflow:hidden; height:16px; margin-left: 5px;}
#selectExpirationMonth .hiLite {background:#0052A0!important; color:#fff!important;}
#selectExpirationMonth .newListHover { background:#7fbcf7!important; color:#fff!important; cursor:default;}
#selectExpirationMonth .newListSelHover, .newListSelFocus {background-position:0 -22px; cursor:default;}
#selectExpirationMonth .newListOptionTitle {font-weight:bold;}
#selectExpirationMonth .newListOptionTitle ul {margin:3px 0 0;}
#selectExpirationMonth .newListOptionTitle li {font-weight:normal; border-left:1px solid #ccc;}

/*==================================
saleCustomerCreditCardData
====================================*/
#selectExpirationYear {text-align: left;}
#selectExpirationYear ul.newList {
    margin:0;
    padding:0;
    list-style:none;
    color:#000;
    width:170px;
    background:#fff;
    position:absolute;
    border:1px solid #ccc;
    top:22px;
    left:0;
    overflow:auto;
    z-index:9999;
}
#selectExpirationYear .newListSelected {
    width:180px;
    color:#000;
    height:19px;
    padding:3px 0 0 6px;
    float:left;
    background: url(../img/select-bg83.png) no-repeat;
}
#selectExpirationYear .newListSelected span { width:180px; display:block; _margin-left: 8px;}
#selectExpirationYear ul.newList li {padding:3px 8px; }
#selectExpirationYear .selectedTxt { width:170px; overflow:hidden; height:16px; margin-left: 5px;}
#selectExpirationYear .hiLite {background:#0052A0!important; color:#fff!important;}
#selectExpirationYear .newListHover { background:#7fbcf7!important; color:#fff!important; cursor:default;}
#selectExpirationYear .newListSelHover, .newListSelFocus {background-position:0 -22px; cursor:default;}
#selectExpirationYear .newListOptionTitle {font-weight:bold;}
#selectExpirationYear .newListOptionTitle ul {margin:3px 0 0;}
#selectExpirationYear .newListOptionTitle li {font-weight:normal; border-left:1px solid #ccc;}