@charset "utf-8";
/*CONTAINER STYLES*/
body{
	background: url(../img/background.jpg) no-repeat top center;
	background-color: #7899bf;
}
div.header{
	height:25px;
	text-align:right;
}
div.banner{
	padding-top: 25px;
	height:100px;
	text-align:center;
	color:#FFFFFF;
}
.link{
	cursor: pointer;
}
div.user_info{
	background: url(../img/banner/user_information.png) no-repeat top center;
	width: 192px;
	height: 90px;
}
div.user_info label.user_name{
	font-size: 13px;
	font-weight: bold;
}
div.user_info label.info_title{
	font-size: 14px;
	font-weight: bold;
}
div.info{
	height:25px;
	text-align:right;
}
div.clear{
    clear: both;
}

div.banner_info{
    margin-top: 3px;
    height:20px;
    text-align:left;
    font-size: 11px;
}
div.lower{
    margin-top: 60px;
    margin-left: 10px;
}

/*.myaccount{
    background:url(../img/myaccount.png);
    background-repeat:  no-repeat;
}*/

div.banner div.buttons{
    margin-top: 3px;

}


div.banner input.myaccount{
    background: url(../img/banner/blue_button.png) no-repeat;
    height: 28px;
    width: 152px;
    cursor: pointer;
    border: none;
    font-family: Helvetica;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
	margin-bottom: 10px;
	margin-top: 10px;
}

div.banner input.logout{
    background: url(../img/banner/red_button.png) no-repeat;
    height: 27px;
    width: 152px;
    cursor: pointer;
    border: none;
    font-family: Helvetica;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}

div.contents{
    margin-top: 10px;
    max-height:auto;
    min-height: 500px;
}
div.mainContent{
    min-height: 500px;
    background: url('../img/mainBackground.gif') no-repeat;
}
div.mainAlerts{
    margin-top: 20px;
}
div.footer{
	text-align:right;
        background: url(../img/footer.png) no-repeat;
        margin-right: 25px;
        color: #ffffff;
        height: 36px;
}
div.header a{
	font-weight:bold;
	cursor:pointer;
}
/*LOGIN STYLES*/
div#login-body{
    background: url(../img/login-background.png) no-repeat;
    /*background: url(../img/BAS.png) no-repeat;*/
    /*background-size: 80% 25%;*/
    /*height: 322px;*/
    margin-top: 76px;
    margin-left: 240px;
    /*align: center;*/
}
div#login-body input.text-background{
	background: url(../img/text_background.png) no-repeat;
	border: none;
	width: 162px;
	height: 21px;
	padding-left: 5px;
}

div#login-body span.login-label{
    font-family: Helvetica;
    font-weight: bold;
    color: #808080;
	font-size: 14px;
}

div#login-body .login_submit{
	background: url(../img/submit_button.png) no-repeat;
	border: none;
	color: #FFF;
	font-weight: bold;
	cursor: pointer;
	width: 157px;
	height: 28px;
}

div#login-body .right{
	text-align: right;
}

/*END LOGIN STYLES*/
/*END CONTAINER STYLES*/

/*SCREEN FIXING STYLES*/
input[type=text], input[type=password], input.text, input.title, textarea, select {
	margin:0;
}
.txtArea{
	width:210px;
	max-width:210px;
	max-height:100px;
}

td, th, caption{
	padding: 0px;
}
/*END FIXING STYLES*/

/*FORM STYLES*/
.autocompleter{
	width:400px;
}
div.label{
	text-align:right;
	font-weight:bold;
}
div.line{
	margin-bottom:10px;
}
div.messages{
	margin-bottom:10px;
}
div.buttons{
	text-align:center;
}
div.title{
	font-weight:bold;
	text-transform:uppercase;
	font-size:14px;
	text-align:center;
	margin-bottom:10px;
}

div.titleCity{
	font-style:italic;
	font-weight:bold;
	text-transform:uppercase;
	font-size:12px;
	margin-bottom:5px; 
}

div.title label{
	font-size:11px;
	text-align:center;
	font-style:italic;
}


div.subtitle{
	font-weight:bold;
	font-size:12px;
	text-align:center;
}
div.center{
        text-align:center;
}
ul.alerts{
	list-style:none;
	font-weight:normal;
	background:#fdf5d7;
	border:2px solid #fee097;
	padding:.5em;
	display:none;
	color:#8a5e11;
	margin-bottom:15px;
}

div.showMessages{
	text-align:center;
}

div.specifications {
	font-size:10px;
	text-align:right;
}

div.separator{
	/*border-bottom:1px solid #0033FF;*/
        height: 25px;
        background: url(../img/separator.png) no-repeat;
        font-size: 11px;
        padding-top: 3px;
        /*letter-spacing: 1px;
        font-weight: bold;*0px;
        /*font-weight: bold;*/
        color: #ffffff;
        padding-left: 10px;



}

div.separator label{
	/*font-size:13px;
	font-style:italic;*/
}

div.separatorExtra{
    border-bottom:1px solid #0033FF;
}

.a-change {
	cursor:pointer;
}

.a-cancel {
	cursor:pointer;
	display: none;
}

.selectMultiple{
    height: 180px;
}

/*END FORM STYLES*/

.ui-accordion .ui-accordion-content { padding:5px; }
.accordion_lvl_3 h3 a { text-decoration:none; font-size:12px; font-family:Arial, Helvetica, sans-serif; }
.accordion_lvl_3 h3 { margin:5px; }
.accordion_lvl_2 h3 { font-size:15px; }
.accordion_lvl_1 h3 { font-size:12px; }
.ui-accordion-content{ zoom: 1; }

#loader{
	display: none;
}
#ajax_loader{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5000;
    background-color: #407FBB;
    width: 100%;
    height: 100%;
    filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}
div.ajax_loader_text{
	background:url(../img/ajax-loader.gif) no-repeat;
	position: fixed;
	padding-left: 35px;
	padding-bottom: 10px;
	top: 50%;
    left: 50%;
	color: #000000;
	font-size: 150%;
	font-weight: bold;
    color: white;
	z-index: 5001;
}
#selAppliedProduct{
    min-width: 270px;
    height: 290px;
}
/*for tables (sales,invoice taxes applied)*/
.tableTitle{
        color: #FFFFFF;
        padding:0 5px 0 5px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: bold;
        text-transform:uppercase;
        text-align:center;
    }
.tableField{
        padding:5px 5px 5px 5px;
        text-align:center;
        color:#000000;
}

/*Standar Width for Selects*/
.selectWidht{
	width: 190px;
	max-width: 190px;
	min-width: 190px;
}

.even-row{
    background-color: #d7e8f9;
}
.odd-row{
    background-color: #e8f2fb;
}
.refundTable{
	text-align: center;
}
.tableTitles{
	background-color: #284787;
	color: #FFFFFF;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
}

input.PDF{
    color: black;
    background: url(../img/file_acrobat.gif) no-repeat;
    height: 16px;
    width: 16px;
    cursor: pointer;
    border: none;
    font-family: Helvetica;
    font-weight: bold;
    color: #ffffff;
    text-align: right;
}

input.XLS{
    color: black;
    background: url(../img/page_excel) no-repeat;
    height: 16px;
    width: 16px;
    cursor: pointer;
    border: none;
    font-family: Helvetica;
    font-weight: bold;
    color: #ffffff;
    text-align: right;
}
input.SCREEN{
    color: black;
    background: url(../img/screen.png) no-repeat;
    height: 16px;
    width: 16px;
    cursor: pointer;
    border: none;
    font-family: Helvetica;
    font-weight: bold;
    color: #ffffff;
    text-align: right;
}

div.PDF{
    color: black;
    background: url(../img/file_acrobat.gif) no-repeat;
    height: 16px;
    width: 16px;
    cursor: pointer;
    border: none;
    font-family: Helvetica;
    font-weight: bold;
    color: #ffffff;
    text-align: right;
    float: left;
}

div.XLS{
    color: black;
    background: url(../img/page_excel) no-repeat;
    height: 16px;
    width: 16px;
    cursor: pointer;
    border: none;
    font-family: Helvetica;
    font-weight: bold;
    color: #ffffff;
    text-align: right;
    float: left;
}


/*Ajax Loader*/
#loader{
	display: none;
}
#ajax_loader{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5000;
    background-color: #407FBB;
    width: 100%;
    height: 100%;
    filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}
div.ajax_loader_text{
	background:url(../img/ajax-loader.gif) no-repeat;
	position: fixed;
	padding-left: 35px;
	padding-bottom: 10px;
	top: 50%;
    left: 50%;
	color: #000000;
	font-size: 150%;
	font-weight: bold;
    color: white;
	z-index: 5001;
}
.push_left{
	text-align: left;
}
.push_right{
	text-align: right;
}
.long_text{
	width: 250px;
}
.hide_me{
	display: none;
}
/*End Ajax Loader*/
.clickable{
	cursor: pointer;
}
.generalConditions{
	color: #E61E3B;
	font-size:10px;
	font-family: Helvetica;
	font-weight: bold;
	float: left;
}
.adobePDFImageMini{
	float: left;
}
.red_message{
	color: red;
	font-family: arial;
	font-size: 11px;
	font-weight: bold;
}
.estimatorOuterLabel{
	color: #2E6E9E;
	font-size:11px;
	font-family: Helvetica;
	font-weight: bold;
	float: left;
}
#ui-datepicker-div{
    z-index: 9999999;
}
.blueButton{
	-moz-border-radius:9px;
    -webkit-border-radius:9px;
	height:18px;
	color:#ffffff;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
    behavior:url(border-radius.htc);
	background-image:url("../img/btnbgr.jpg");
	background-position:center;
	text-align:center;
	cursor: pointer;
}
.barWidth{
	width: 260px;
}
.longWidth{
	width: 230px;
}
.medWidth{
	width: 200px;
}
.shortWidth{
	width: 120px;
}
.pushLeft{
	text-align: left;
}
.floatLeft{
	float: left;
}
.floatRight{
	float: right;
}
.pushDown{
	margin-top: 15px;
}
.process_loading{
	font-style: italic;
	font-weight: bold;
}
.siteMaintenanceBox{
	background: url("../img/cloudsBackground.png") no-repeat scroll 0 0 transparent;
	height: 400px;
	padding-top: 80px;
	color: #444444;
	font-size: 20px;
}
.constructionContainer{
	padding-top: 60px;
	padding-bottom: 20px;
}
.constructionIcon{
	padding-top: 80px;
}

.disableJavascript{
	font-size: 25px;
	color: #DD0C14;
	font-weight: bold;
	text-align: center;
	left: 40%;
	top: 40%;
	position: absolute;
	z-index: 5001;
}
.disableJavascriptIco{
	background-position: center;
	background: url(../img/jsalert.png);
	width:  100%;
	height: 104px;
	background-position: center;
	background-repeat: no-repeat;
}
.lostPass{
	color: #808080;
	font-size: 12px;
	font-weight: normal;
	cursor: pointer;
}
.small_gray_text{
    color: #aaaaaa;
    font-size: 10px;
    font-weight: bold;
}

div.left{
	text-align: left;
}

.number-input{
	width: 67px;
	text-align: right;
}