.tip {
	font:10px/12px Arial,Helvetica,sans-serif; 
	border:solid 1px #666666; width:270px; padding:1px;
	position:absolute; z-index:100;
	visibility:hidden; color:#333333; top:20px;
	left:90px; background-color:#ffffcc;
	layer-background-color:#ffffcc;
}	                  