.header
{
    background-color: #284787;
	color: #ffffff;
}
table.salesLogTable th{
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}
table.salesLogTable td{
    text-align: center;
}
