@charset "utf-8";
/* CSS Document */
.tableTitle{
    color: #FFFFFF;
    padding:0 5px 0 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    text-transform:uppercase;
    text-align:center;
}
.tableField{
	color: #000000;
}