@charset "utf-8";
/* CSS Document */

.productTableHeader{
	color: #407FBB;
	font-size: 9px;
}
.productTableName{
	color: #000000;
	font-size: 9px;
}
.headerMessages{
	color: #000000;
	font-size: 10px;
	font-style: italic;
}

div.buttonSubmit{
    background: url('../../img/buttonSubmit.gif') no-repeat;
    color: #FFFFFF;
    font-weight: bold;
    letter-spacing: 1px;
    height:25px;
    _height: 17px;
    _padding-top:3px;
    margin-bottom: 20px;
}
div.buttonSubmit span{
    margin-left: 23px;
    cursor: pointer;
}
.secretCodeInput{
	width: 503px;
}
.addressInput{
	width: 503px;
}
.credCardTableHeader{
	color: #000000;
	font-size: 10px;
}
.credCardTableItem{
	color: #666666;
	font-size: 10px;
}
.blueRow{
	background-color: #D6E4F1;
}
.monthDropdown{
	width: 100px;
}
.yearDropdown{
	width: 75px;
}
.summary_main{
	background-color: #F3F3F4;
	width: 458px;
	padding-left: 15px;
}
.blue_text{
	color: #006AA5;
	font-weight: bold;
	font-size: 10px;
}
.single_field{
	margin-top: 15px;
}
.creditCardForm .text{
	margin: 0px;
    padding: 0px;
    border:none;
    background: url("../../img/customer/field-long.png") no-repeat scroll 0 0 transparent;
}
.creditCardForm .text-med{
	margin: 0px;
    padding: 0px;
    border:none;
    background: url("../../img/customer/field-medium.png") no-repeat scroll 0 0 transparent;
}
.creditCardForm .text-short{
	margin: 0px;
    padding: 0px;
    border:none;
    width: 70px;
    background: url("../../img/customer/field-short.png") no-repeat scroll 0 0 transparent;
}
.creditCardForm .textarea{
    margin-left: 5px;
    width: 180px;
    height: 75px;
    max-height: 75px;
    max-width: 300px;
    padding: 0px;
    border:none;
    background: #CCCCCC;
}
.tax_header{
	color: #4D4D4D;
	font-family: Arial;
	font-size: 10px;
	font-weight: bold;
}
.red_title{
	color: #E31837;
	font-size: 14px;
	font-weight: bold;
	margin-left: 10px;
}
.tableBuy{
	width: 400px;
}
th, td, caption {
	padding: 0px;
}
.table_header{
	border-bottom: 2px solid #4D4D4D;
}
.inner_box{
	padding-left: 30px;
}
.no_space{
	margin: 0px;
}
.row_a{
	width: 120px;
}
.code-box{
	width: 70px;
	float: left;
}
.float_left{
	float: left;
}
.terms_use{
	color: #CCCCCC;
	font-size: 9px;
}
.expirationBox{
	width: 140px;
	float: left;
}
.cardsImage{
	margin: 6px;
}
#buyPayPal{
	cursor: pointer;
}
#buyMerchA{
	cursor: pointer;
}
.rightText{
	text-align: right;
}