@charset "utf-8";
/* CSS Document */

.productTableHeader{
	color: #407FBB;
	font-size: 9px;
}
.hideMe{
	display: none;	
}
.productTableName{
	color: #000000;
	font-size: 9px;
}
.headerMessages{
	color: #000000;
	font-size: 10px;
	font-style: italic;
}
.productTableBlock{
	padding: 2px;
	padding-left: 20px;
	padding-top: 5px;
	cursor: pointer;
	margin-top: 7px;
}
.productCardBlock{
	padding: 2px;
	cursor: pointer;
	clip: rect(0px, 100px, 40px, 0px); 
	padding-left: 12px;
}
.productTableRed{
	color: #CC3333;
}
.productTableGreen{
	color: #00AA00;
}
.boxActive{
	background-color: #D6E4F1;
}
.boxInactive{
	background-color: #DDDDDD;
}
div.buttonSubmit{
    background: url('../../../../img/buttonSubmit.gif') no-repeat;
    color: #FFFFFF;
    font-weight: bold;
    letter-spacing: 1px;
    height:25px;
    _height: 17px;
    _padding-top:3px;
    margin-bottom: 20px;
}
div.buttonSubmit span{
    margin-left: 23px;
    cursor: pointer;
}
#continueBox{
	margin-bottom: 15px;
	cursor: pointer;
}
.prodInfoHeader{
	color: #000000;
	font-size: 10px;
}
.prodInfoDesc{
	color: #666666;
	font-size: 10px;
}
.closeCross{
	margin-left: 5px;
}
.floatLeft{
	float: left;
}
.title_data{
	color: #006AA5;
	font-size: 14px;
	font-weight: bold;
}
.top_text{
	color: #999999;
	font-size: 11px;
	text-align: center;
}
.redTab{
	background:url(../../../../img/blue-tab.png) no-repeat;
	background-position: -9px -9px;
	width: 102px;
	height: 27px;
	float: left;
	color: #FFFFFF;
	font-size: 10px;
	font-family: Helvetica;
	z-index: 3;	
}
.unselectedTab{
	background:url(../../../../img/red-tab.png) no-repeat;
}
.innerRedText{
	float: left;
	margin-top: 5px;	
}
.innerRedTextMargin{
	float: left;
	margin-left: 25px;
	margin-top: 5px;	
}
.register_main{
	background-color: #F3F3F4;
}
.status_header{
	background: url("../../../../img/customer/status-field.png") no-repeat scroll 0 0 transparent;
	height: 25px;
	color: #666666;
	font-size: 14px;
	font-weight: bold;
	padding-left: 5px;
	margin-top: 10px;
	margin-left: 10px;
}
.green_text{
	color: #14A94B;
}
.red_text{
	color: #D31245;	
}
.status_icon{
	padding-top: 3px;
}
.red_title{
	color: #E31837;
	font-size: 14px;
	font-weight: bold;
	margin-left: 10px;
}
.blue_title{
	color: #006AA5;
	font-size: 14px;
	font-weight: bold;
	margin-left: 10px;
}
.push_right{
	padding-left: 15px; 
}
.blue_text{
	color: #006AA5;
	font-weight: bold;
	font-size: 10px;
}
.single_field{
	margin-top: 15px;
}
.travelersInfoForm{
	display: none;
}
.travelersInfoForm .text{
	margin: 0px;
    padding: 0px;
    border:none;
    width: 165px;
    background: url("../../../../img/customer/field-long.png") no-repeat scroll 0 0 transparent;
}
.travelersInfoForm .text-med{
	margin: 0px;
    padding: 0px;
    border:none;
    background: url("../../../../img/customer/field-medium.png") no-repeat scroll 0 0 transparent;
}
.inner_box{
	padding-left: 30px;
}
#scrollable-field{	
	height: 270px;
	width: 395px;
	color:#6d6e71;
	font-size:13px;
	padding-right:60px;
}
.product_alert{
	padding-top: 5px;
	float: left;
	margin-left: 10px;
}
.desc_row_a{
	width: 135px;
	float: left;
}
.buttonsBox{
	width: 250px;
}