{assign var="title" value="MODIFICAR REGISTRO DE VIAJES"}
<div class="span-24 last title">
		Modificar Registro de Viaje<br/>
</div>
 <div class="span-7 span-10 prepend-7 last">
	    <ul id="alerts" class="alerts"></ul>
    </div>

<div class="span-24 last line" id="executiveContainer" >
	<form name="frmChooseRegister" id="frmChooseRegister" method="post" action="">
		<div class="prepend-4 span-14 append-5 last line">
			<div class="prepend-3 span-4 label">N&uacute;mero de Tarjeta:</div>
			<div class="span-6">
				<input type="text" id="txtCardNumber" name="txtCardNumber" class="span-6"/>
			</div>
		</div>
	<div class="span-24 last buttons line">
			<input id="btnRegister" type="submit" value="Buscar" name="btnRegister"/>
		</div>
	</form>
</div>
<div class="prepend-7 span-10 append-7">
	<div class="span-10 success" align="center" id="success_message" style="display:none;">
	</div>
	<div class="span-10 error" align="center" id="error_message" style="display:none;">
	</div>
</div>
<div class="span-24 last line" id="registersContainer">
</div>
