{assign var="title" value="CANJE DE INCENTIVOS"}
 <div class="prepend-2 span-19 append-3 last title">NOS ESTAMOS RENOVANDO, MUY PRONTO PODRÁS CANJEAR TUS INCENTIVOS</div>
<form action="http://www.mibluecard.com.ec/Ingreso.asmx/ValidarCedula" method="post">
{if $error}
    <div class="span-10 {if $error eq 1}success{else}error{/if}" align="center">
                {if $error eq 1}
                    Ha sido redirigido a nuestro sistema de Incentivos con exito!
                {elseif $error eq 2}
                    Ha existido errores por favor contactese con nuestras oficinas.
                
                {/if}
    </div>                
{/if}   
        <p>
           
            <input type="hidden" name="cedula" style="width: 241px" value={$cedula}>
            
            <input type="hidden" name="username" style="width: 241px" value={$username}>
            
            <input type="hidden" name="token" style="width: 241px" value="96e334df-5ba2-4fa5-8443-8a9b866955e4">

            <input type="hidden" name="url" style="width: 241px" value="https://www.pas-system.net/modules/bonus/fGetBonus/2">
               <div class="span-24 last buttons line">
           <!-- <input type="submit" value="CANJEAR INCENTIVOS" align="center">-->
               </div>
        </p>
    </form>