<div align="center">Seleccionados</div>
{if $userList}
<select multiple id="usersTo" name="usersTo[]" class="selectMultiple span-4 last" >
		{foreach from=$userList item="l"}
		<option value="{$l.serial_usr}" class="{$serial_type}">{$l.first_name_usr|htmlall}&nbsp;{$l.last_name_usr|htmlall}</option>
		{/foreach}
</select>
{else}
<select multiple id="usersTo" name="usersTo[]" class="selectMultiple span-4 last">
</select>
{/if}
