{foreach from=$hiddensList item=hl} 
	<div manager="-{$hl.serial_cou}" class="manager">
        <input type="hidden" id="hdnUser-{$hl.serial_usr}" name="hdnUser-{$hl.serial_usr}" value="{$hl.serial_usr}" />
    	<div class="line">
        	<input type="hidden" id="hdnCountry-{$hl.serial_cou}" name="hdnCountry-{$hl.serial_cou}" value="{$hl.serial_cou}" />
        </div>
    </div>
{/foreach}
{literal}
<script type="text/javascript">
	var serial_cou;
	var serial_usr;
	var countryCont=0;
	$('.manager').each(function (i) {
			serial_cou=$(this).children('.line').children('[name^="hdnCountry"]').val();						
			serial_usr=$(this).children('[name^="hdnUser"]').val();			
			$('#selCountry option').each(function (i) {
				if(serial_cou==$(this).val()&&serial_usr==$('#selUser').val()){
					$('#selCountry').find('[value="'+serial_cou+'"]').hide(); 
					countryCont++;
				}
			});
		});
	if(countryCont+1==$('#selCountry option').size()){
		$('#newManagerDialog').dialog('close');
		alert("Este usuario ya es representante de todos los pa\u00EDses");
	}
</script>
{/literal} 



