{if $data}
	<select name="selSubmanager" id="selSubmanager">
  		<option value="">- Seleccione -</option>
  		{foreach from=$data item="l"}
  			<option value="{$l.serial_dea}" >{$l.name_dea}</option>
                                <!--if $data|@count eq 1} selected/if}-->
                                
  		{/foreach}
	</select>
{else}
    {if $serial_cit neq ''}
	No existen Subrepresentantes asignados.
    {/if}
    <select name="selSubmanager" id="selSubManager" {if $serial_cit neq ''}style="display:none;"{/if}>
            <option value="" selected>- Seleccione -</option>
    </select>
{/if}