    <div class="span-2 label">Cobertura:</div>
    <div id="coverageContainer{$count}" class="span-5">
        <input type="text" class="span-2" name="countries[{$count}][coverage_sbc]" id="coverage_sbc_{$count}" value="{$coverage_sbc}"/>
    </div>

    <div class="span-2 label">Precio:</div>
    <div id="priceContainer{$count}" class="span-5">
        <input type="text" class="span-2" name="countries[{$count}][price_sbc]" id="price_sbc_{$count}" value="{$price_sbc}"/>
    </div>

    <div class="span-2 label">Costo:</div>
    <div id="costContainer{$count}" class="span-5">
        <input type="text" class="span-2" name="countries[{$count}][cost_sbc]" id="cost_sbc_{$count}" value="{$cost_sbc}"/>
    </div>

{*{if $check_values && $check_output}
    {html_checkboxes values=$check_values output=$check_output separator="<br>" name="countries[$count][taxes]"}
{else}
No existen impuestos en el pa&iacute;s seleccionado.
{/if}*}