<div class="span-6 prepend-9 append-9 last line">
	<div class="span-6">
		<ul>
			{foreach from=$typeList item="st"}
				   <li>Stock {$st|lower|capitalize} Disponible:{$availableStock.$st}
					   <input type="hidden" id="{$st}" value="{$availableStock.$st}"/></li>
			{/foreach}
		</ul>
	</div>
</div>