{if $zoneList}
	<?xml version="1.0"?>
    <ajaxresponse>
	{foreach from=$zoneList item="zl"}
    <item>
       <text>{$zl.name_zon}</text>
       <value>{$zl.name_zon}</value>
       <id>{$zl.serial_zon}</id>
    </item>
    {/foreach}
    </ajaxresponse>
{/if}