#sortable1, #sortable2 { 
	list-style-type: none; 
	margin: 0; 
	float: left; 
	margin-right: 10px; 
	min-height: 500px;
}
#sortable1 li, #sortable2 li { 
	margin: 5px;
	padding: 5px;
	font-size: 1.2em;
	width: 300px;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
}

div.list_header label{
	font-style: italic;
	font-size: 13px;
}

div.bordered{
	background: url(../../../img/favorites_icons/single_line_bck.png);
	min-height: 501px;
}

