\@charset "utf-8";
/* CSS Document */
.wizard-nav{
    margin-bottom:20px;
}
.wizard-nav a div{
    text-align:center;
    padding-top:10px;
    height:25px;
    text-decoration: none;
    color:#FFFFFF;
    font-weight:bold;
    text-transform:uppercase;
    display: inline;
    background:#a2cae4;
    background-position:right top;
    background-repeat: no-repeat;
    overflow-y:auto;
    overflow-x: hidden;
}

.wizard-nav a.active div{ background: #0066cc; }
.wizardcontrols {vertical-align: bottom}
.wizardcontrols .wizardnext { margin-left: 64%; width: 18%; }
.wizardcontrols .wizardprev { width: 18%; }

#newPromo .wizardcontrols .wizardnext { margin-left: 88%; }

#generalConditionsTable{ max-height:340px; height:340px; overflow-y:scroll; overflow-x:hidden;  }

#benefitsTable{max-height:340px; height:340px; overflow-y:scroll; overflow-x:hidden;   }

.appliedProducts{
    height: 100px;
    width: 150px;
}

div.sectionPage{
    min-height: 280px;
}

.multipleSelect{
    width: 310px;
    height: 150px;
}