{assign var="title" value="CORREO CONFIRMACION"}
<div class="append-7 span-10 prepend-7 last mainAlerts">

    <div class="span-10 success" align="center">
        Se ha enviado el mail al cliente para realizar el pago.
    </div>

</div>