<form id="frmCustomerDialog" name="frmCustomerDialog" method="post" action="#">	
	<div class="span-1 span-14 prepend-1 last line">
	    <ul id="alerts_dialog" class="alerts"></ul>
	</div>
	<input type="hidden" id="customerLocation" value="">
	
	<div id="dialogQuestionsContainer"></div>
</form>