{if $price}
    <input type="input" name="userPriceFee" id="userPriceFee" />
    <sub>M&iacute;n: {$min_price} - M&aacute;x: {$max_price}</sub>
{else}
    No existe una tarifa para el producto seleccionado.
{/if}

<input type="hidden" name="hdnMin" id="hdnMin" value="{$min_price}" />
<input type="hidden" name="hdnMax" id="hdnMax" value="{$max_price}" />
