/* 
 *Document   : fNewRefundRequest.css
 *Created on : 15/04/2010, 12:16:52 PM
 *Author     : Patricio Astudillo
 *Description:       Purpose of the stylesheet follows.
*/

.even-row{
    background-color: #d7e8f9;
}
.odd-row{
    background-color: #e8f2fb;
}
.refundTable{
	text-align: center;
}
.tableTitles{
	background-color: #284787;
	color: #FFFFFF;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
}

