.wizard-nav
{
margin-bottom:20px;


}
.wizard-nav a div
{
text-align:center;
padding-top:10px;
height:25px;
text-decoration: none;
color:#FFFFFF;
font-weight:bold;
text-transform:uppercase;
display: inline;
background:#a2cae4;
background-position:right top;
background-repeat: no-repeat;
overflow-y:auto;
overflow-x: hidden;
}

.wizard-nav a.active div{ background: #0066cc; }

.wizardcontrols {vertical-align: bottom}
.wizardcontrols .wizardnext { margin-left: 76%; width: 12%; }
.wizardcontrols .wizardprev { width: 12%; }
#FirstPage .wizardcontrols .wizardnext { margin-left: 88%; }
#generalConditionsTable{ max-height:340px; height:340px; overflow-y:scroll; overflow-x:hidden;  }
#benefitsTable{max-height:340px; height:340px; overflow-y:scroll; overflow-x:hidden;   }
.txtDescription{
    height: 70px;
}

.selectMultiple{
    height: 170px;
}
.buttonPane{
     padding-top: 30px;
}






