@charset "utf-8";
/* CSS Document */

.loadCustomers{
background-color:#d7f9d8;
}

.loadNewCustomers{
	background-color:#fae3e3;
}

.selectedRow{
	font-weight: bold;
	font-style: italic;
}

.current{
	display: inline !important;
}

a.current_link{
	font-weight: bold;
}

a.paging_item{
	cursor: pointer;
	text-decoration: none;
	color: #000000;
}

.pointer{
	cursor: pointer;
}