{assign var="title" value="REIMPRIMIR CONTRATO"}
<div class="span-24 last title">
		Reimprimir Contrato<br/>
</div>
 <div class="span-7 span-10 prepend-7 last">
	    <ul id="alerts" class="alerts"></ul>
    </div>

<div class="span-24 last line" id="executiveContainer" >
	<div class="span-24 last title">
		<label>Ingrese el # de tarjeta &oacute; el nombre del Cliente.</label><br/>
	</div>
	<form name="frmReprintContract" id="frmReprintContract" method="post" action="">
		<div class="prepend-5 span-14 append-5 last line">
			<div class="prepend-3 span-4 label">N&uacute;mero de Tarjeta:</div>
			<div class="span-6">
				<input type="text" id="txtCardNumber" name="txtCardNumber" class="span-6"/>
			</div>
		</div>

		<div class="prepend-5 span-14 append-5 last line">
			<div class="prepend-1 span-6 label">Documento o Nombre del Cliente:</div>
			<div class="span-6">
				<input type="text" id="txtCustomerName" name="txtCustomerName" class="span-6"/>
				<input type="hidden" id="hdnSerial_cus" name="hdnSerial_cus"/>
			</div>
		</div>
	<div class="span-24 last buttons line">
			<input id="btnRegister" type="submit" value="Buscar" name="btnRegister"/>
		</div>
	</form>
</div>
<div class="span-24 last line" id="cardsContainer">
</div>
<div class="span-24 last line" id="masiveCardsContainer">
</div>