<form id="frmUpdateQuestionTranslationDialog" name="frmUpdateQuestionTranslationDialog" method="post" action="{$document_root}modules/question/pUpdateQuestionTranslation" >	
<div class="span-1 span-8 prepend-1 last line">
    <ul id="alerts_dialog" class="alerts"></ul>
</div>
    
<div class="span-10 last line">
	<div class="span-4 label">Pregunta:</div>
    	<div class="span-4 append-2 last"> 
        	<textarea name="txtTextQuestion" id="txtTextQuestion" title="El campo 'Pregunta' es obligatorio." class="txtArea"></textarea>
        </div>
</div>
<input type="hidden" name="serial_qbl" id="serial_qbl" />
</form>