{if $cupon_count > 0}
<i>Existen {$cupon_count} cupon(es) activo(s) para esta promoci&oacute;n. </i><a target="_blank" href="{$document_root}modules/reports/cupon/pCuponReportPDF/{$serial_ccp}">Ver Cupones</a>

{elseif $cupon_count eq 0}
	<i>No existen cupones activos para esta promoci&oacute;n.</i>

{/if}