<form id="frmUpdateTranslation" name="frmUpdateTranslation" method="post" action="{$document_root}modules/product/productType/pUpdateTranslation" >
<div class="span-1 span-8 prepend-1 last line">
    <ul id="alerts_dialog" class="alerts"></ul>
</div>

<div class="span-10 last line">
    <div class="prepend-1 span-4 label">
    	Idioma:
    </div>
    <div class="span-4 append-1 last" id="language"></div>
</div>
    
<div class="span-10 last line">
            <div class="prepend-1 span-4 label">
                <label>* Nombre del Tipo de Producto :</label>
            </div>

        <div class="span-4 append-1 last ">
            <div>
                <input type="text" name="diaName_tpp" id="diaName_tpp" class="span-4" />
            </div>
        </div>
    </div>
<div class="span-10 last line">
        <div class="prepend-1 span-4 label">
            <label>* Descripci&oacute;n del Tipo de Producto :</label>
        </div>

        <div class="span-4 append-1 last ">
            <div>
                <textarea  name="txtDescription_tpp" id="txtDescription_tpp" class="span-4" ></textarea>
            </div>
        </div>
    </div>

<input type="hidden" name="serial_ptl" id="serial_ptl" />
<input type="hidden" name="serial_lang" id="serial_lang" />
</form>