@charset "utf-8";
/* CSS Document */
div.estimator {
	float:left;
	margin-bottom: 20px;
	margin-left:5px;
	width:600px;
	padding-bottom: 15px;
	background-color:#f3f3f4;
	text-align: left;
}
div.estimator-header{
	color:#E61E3B;
	font-size:12px;
	font-weight:bold;
	font-family: Arial;
	margin-top: 5px;
	margin-left: 15px;
}
.dark-record{
	background-color: #CCCCCC;
}
#estimatorFullForm input[type=text] { 
    margin: 0px;
    padding: 0px;
    width: 160px;
    border:none;
    background-color: #E6E6E6;
    height: 18px;
}
.estimatorLine{
	margin-bottom: 5px;	
}
.estimatorLabel{
	margin-left: 15px;
	padding-right: 15px;
	font-size: 11px;
	float: left;
	text-align: left;
}
.estimatorLabelTitle{
	margin-left: 15px;
	padding-right: 15px;
	font-size: 11px;
	float: left;
	text-align: left;
	font-weight: bold;
}
.estimatorCartLabel{
	margin-left: 15px;
	padding-right: 15px;
	font-size: 11px;
	float: left;
	color: #E61E3B;
}
.estimatorCartLabelRight{
	font-size: 9px;
	float: right;
}
.estimatorCartLink a:link, a:visited{
	padding-left: 15px;
	font-size: 9px;
	float: left;
	color: #E61E3B;	
	text-decoration: underline;
}
.estimatorLink{
	cursor: pointer;
	color: #000000;
	text-decoration: underline;	
}
.estimatorLabelBenefits{
	font-size: 11px;
	float: left;
	text-align: right;
}
.benefitsListing{
	float: left;
	width: 600px;
}
.estimatorLabelCart{
	font-size: 11px;
	float: left;
	color: #666666;
	padding-left: 25px;
}
.priceCart{
	text-align: left;	
	padding-left: 15px;
	font-size: 9px;
	color: #666666;
}
.estimatorLabelAge{
	margin-left: 15px;
	padding-right: 0px;
	width: 120px;
	padding-right: 15px;
	font-size: 11px;
}
.estimatorDateBox{
	width: 190px;
	float: left;
	text-align: left;
}
.ui-datepicker-trigger{
	margin-left: 5px;
}
.hrBenefits{
	margin-bottom: 5px;	
}
.grayBack{
	background-color: #E6E6E6;
	overflow: hidden;
	width: 580px;
	margin-left: 10px;
}
.executiveBox{
	border: 1px solid #000000;
	width: 440px;
	float: left;
	margin-left: 70px;
	margin-top: 10px;
	margin-bottom: 20px;
}
.pushRight{
	text-align: right;
	margin-left: 435px;	
}
.checkProductCart{
	margin: 0px;
	padding: 0px;
	border: 0px;
	margin-top: -2px;	
}
.executiveTitle{
	background-color: #555555;
	width: 425px;
	margin: 0px;
	padding: 0px;
	padding-left: 15px;
	color: #FFFFFF;
}
.imRed{
	color:  #E61E3B;
}
.red_link{
	color:red;
	font-family:arial;
	font-size:11px;
	font-weight:bold;
}
.noSpace{
	margin: 0px;	
}
.hideMe{
	display: none;	
}
.tripDaysRow{
	margin-top: 5px;
	padding-right: 25px;	
}
#estimatorForm .wizardcontrols {margin-top: 15px;}
#estimatorForm .wizardcontrols .wizardnext {margin-left: 0px; }
#estimatorForm .wizardcontrols .wizardprev {margin-right: 0px; }

ul.alertsEstimator{
	background: none repeat scroll 0 0 #E6E6E6;
	border: 2px solid #555555;
	color: #E61E3B;
	font-size: 10px;
	font-weight:normal;
	list-style: none outside none;
	margin-bottom:15px;
	padding: 0.5em;
	display:none;
}
#scrollListCartProd{
	height: 56px;
}
#scrollListCardAssistCard{
	height: 355px;
}
#scrollListProdAssistCard{
	height: 56px;
}
.textAreaCreditCard{
	width: 150px;
	height: 50px;
	background-color: #CCCCCC;
	border: 0px; 	
}
.bottomAdvise{
	font-size: 9px;
	font-family: Helvetica;
	color: #B3B3B3;	
	text-align: justify;
	margin-left: 15px;
}
.redTab{
	background:url(../../../img/blue-tab.png) no-repeat;
	background-position: -9px -9px;
	width: 102px;
	height: 27px;
	float: left;
	color: #FFFFFF;
	font-size: 10px;
	font-family: Helvetica;
	z-index: 3;	
}
.unselectedTab{
	background:url(../../../img/red-tab.png) no-repeat;
}
.tabsPanel{
	margin-left: 5px;	
}
.innerRedText{
	float: left;
	margin-left: 25px;
	margin-top: 5px;	
}
.clickMe{
	cursor: pointer;
}
#priceWarning{
	display: none;
}