{assign var=title value="INCENTOS POR PAGAR"}
<div class="span-24 last title">
	Incentivos por Pagar<br />
	<label>(*) Campos Obligatorios</label>
</div>

<div class="span-7 span-10 prepend-7 last line">
	<ul id="alerts" class="alerts"></ul>
</div>

<form name="frmBonusToPay" id="frmBonusToPay" action="#" method="post" target="_blank">
	<div class="span-24 las line buttons">
		<input type="radio" name="rdType" id="PARAMETER" value="DEALER">
		<label for="PARAMETER">A Comercializador</label>
		<input type="radio" name="rdType" id="CARD" value="COUNTER">
		<label for="CARD">A Counter</label>
	</div>

	<div class="span-24 lat line" id="bonusContainer"></div>
</form>