{assign var=title value='REPORTE DE INCENTIVOS ENTREGADOS'}
<div class="span-24 last title">
	Reporte de Incentivos Entregados<br />
	<label>(*) Campos Obligatorios</label>
</div>

<form name="frmBonusToPay" id="frmBonusToPay" action="#" method="post" target="_blank">
	<div class="span-24 las line buttons">
		<input type="radio" name="rdType" id="PARAMETER" value="DEALER">
		<label for="PARAMETER">A Comercializador</label>
		<input type="radio" name="rdType" id="CARD" value="COUNTER">
		<label for="CARD">A Counter</label>
	</div>

	<div class="span-24 lat line" id="bonusContainer"></div>
</form>