<!--<form id="frmNewCustomerDialog" name="frmNewCustomerDialog" method="post" action="{$document_root}modules/customer/fNewCustomer" />	-->
<div class="span-1 span-8 prepend-1 last line">
    <ul id="alerts_dialog" class="alerts"></ul>
</div>
{foreach from=$questionList item="q"}    
<div class="span-16 last line">
	<div class="prepend-1 span-12">
    	{$q.text_que}
    </div>
    <div class="span-1 append-1 last">
    {if $q.type_que eq YN}
    <select name="question_{$q.serial_que}" id="question_{$q.serial_que}" title="Es necesario responder todas las preguntas para poder continuar">
    	<option value="">- Seleccione -</option>
        <option value="YES">S&iacute;</option>    
        <option value="NO">No</option>           
    </select>
    {else}
    	<textarea name="txaAns" id="txaAns" value="" title="Es necesario responder todas las preguntas para poder continuar" class="textArea"></textarea>
    {/if}
    </div>
</div>
<div class="span-16 last line">
</div>
{/foreach}

<!--</form>-->