.container>.logotipo-login{
	margin-top: 50px;
}
.container>.container-text-left-login{
	background-color: #0870a2;
	height: 244px;
	margin-top: 100px;
	padding-top: 40px;
	padding-right: 30px;
	color: #FFF;
}
.container>.container-text-left-login>.title-login>h1{
	line-height: 0.5;
}
.container>.container-form-login{
	background-color: rgba(250,250,250,0.5);
	border: 1px solid #FFF;
	margin-top: 55px;
	height: 330px;
	-webkit-box-shadow: 0px 0px 31px 5px rgba(255,255,255,1);
	-moz-box-shadow: 0px 0px 31px 5px rgba(255,255,255,1);
	box-shadow: 0px 0px 31px 5px rgba(255,255,255,1);
	border-radius: 10px;
}
.container>.container-right-login{
	background-color: #0870a2;
	height: 244px;
	margin-top: 100px;
}
#frmLogin{
	padding-top: 50px;
}
#frmLogin>.form-group>div>input{
	height: 50px;
}
#frmLogin>.form-group>label{
	/*font-size: 20px;*/
	font-family: Light;
	color: #0870a2;
}
#restar-pass{
	color: #0870a2;
	cursor: pointer;
}