div.favorites_background{
	width: 872px;
	height: 582px;
	overflow: hidden;
}

div.fav_title{
	color: #FFF;
	font-size: 18px;
	font-weight: bold;
	margin-top: 5px;
}

div.fav_button{
	float: left;
	padding-top: 8px;
	padding-left: 30px;
	padding-right: 30px;
	width: 108px;
	text-align: center;
}

div.fav_button a{
	color: #FFF;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
}