@charset "utf-8";

/* =============================================================================
 *  Web page fonts
 * ========================================================================== */
@font-face {
  font-family: 'Roman';
  src: url("../fonts/helvetica/web_Helvetica_NeueLTStd/HelveticaNeueLTStd-Roman/HelveticaNeueLTStd-Roman.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/helvetica/web_Helvetica_NeueLTStd/HelveticaNeueLTStd-Roman/HelveticaNeueLTStd-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica/web_Helvetica_NeueLTStd/HelveticaNeueLTStd-Roman/HelveticaNeueLTStd-Roman.woff") format("woff"), url("../fonts/helvetica/web_Helvetica_NeueLTStd/HelveticaNeueLTStd-Roman/HelveticaNeueLTStd-Roman.ttf") format("truetype"), url("../fonts/helvetica/web_Helvetica_NeueLTStd/HelveticaNeueLTStd-Roman/HelveticaNeueLTStd-Roman.svg#svgFontName") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: 'Medium';
  src: url("../fonts/helvetica/web_Helvetica_NeueLTStd/HelveticaNeueLTStd-Lt/HelveticaNeueLTStd-Lt.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/helvetica/web_Helvetica_NeueLTStd/HelveticaNeueLTStd-Lt/HelveticaNeueLTStd-Lt.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica/web_Helvetica_NeueLTStd/HelveticaNeueLTStd-Lt/HelveticaNeueLTStd-Lt.woff") format("woff"), url("../fonts/helvetica/web_Helvetica_NeueLTStd/HelveticaNeueLTStd-Lt/HelveticaNeueLTStd-Lt.ttf") format("truetype"), url("../fonts/helvetica/web_Helvetica_NeueLTStd/HelveticaNeueLTStd-Lt/HelveticaNeueLTStd-Lt.svg#svgFontName") format("svg");
  /* Legacy iOS*/
}

@font-face {
  font-family: 'Heavy';
  src: url("../fonts/helvetica/web_Helvetica_NeueLTStd/HelveticaNeueLTStd-Hv/HelveticaNeueLTStd-Hv.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/helvetica/web_Helvetica_NeueLTStd/HelveticaNeueLTStd-Hv/HelveticaNeueLTStd-Hv.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica/web_Helvetica_NeueLTStd/HelveticaNeueLTStd-Hv/HelveticaNeueLTStd-Hv.woff") format("woff"), url("../fonts/helvetica/web_Helvetica_NeueLTStd/HelveticaNeueLTStd-Hv/HelveticaNeueLTStd-Hv.ttf") format("truetype"), url("../fonts/helvetica/web_Helvetica_NeueLTStd/HelveticaNeueLTStd-Hv/HelveticaNeueLTStd-Hv.svg#svgFontName") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: 'Extendet';
  src: url("../fonts/helvetica/web_Helvetica_NeueLTStd/HelveticaNeueLTStd-Ex/HelveticaNeueLTStd-Ex.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/helvetica/web_Helvetica_NeueLTStd/HelveticaNeueLTStd-Ex/HelveticaNeueLTStd-Ex.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica/web_Helvetica_NeueLTStd/HelveticaNeueLTStd-Ex/HelveticaNeueLTStd-Ex.woff") format("woff"), url("../fonts/helvetica/web_Helvetica_NeueLTStd/HelveticaNeueLTStd-Ex/HelveticaNeueLTStd-Ex.ttf") format("truetype"), url("../fonts/helvetica/web_Helvetica_NeueLTStd/HelveticaNeueLTStd-Ex/HelveticaNeueLTStd-Ex.svg#svgFontName") format("svg");
  /* Legacy iOS*/
}

@font-face {
  font-family: 'Light';
  src: url("../fonts/helvetica/web_Helvetica_NeueLTStd/HelveticaNeueLTStd-Lt/HelveticaNeueLTStd-Lt.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/helvetica/web_Helvetica_NeueLTStd/HelveticaNeueLTStd-Lt/HelveticaNeueLTStd-Lt.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica/web_Helvetica_NeueLTStd/HelveticaNeueLTStd-Lt/HelveticaNeueLTStd-Lt.woff") format("woff"), url("../fonts/helvetica/web_Helvetica_NeueLTStd/HelveticaNeueLTStd-Lt/HelveticaNeueLTStd-Lt.ttf") format("truetype"), url("../fonts/helvetica/web_Helvetica_NeueLTStd/HelveticaNeueLTStd-Lt/HelveticaNeueLTStd-Lt.svg#svgFontName") format("svg");
  /* Legacy iOS*/
}

@font-face {
  font-family: 'Oblique';
  src: url("../fonts/helvetica/web_Helvetica_NeueLTStd/HelveticaNeueLTStd-LtCnO/HelveticaNeueLTStd-LtCnO.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/helvetica/web_Helvetica_NeueLTStd/HelveticaNeueLTStd-LtCnO/HelveticaNeueLTStd-LtCnO.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica/web_Helvetica_NeueLTStd/HelveticaNeueLTStd-LtCnO/HelveticaNeueLTStd-LtCnO.woff") format("woff"), url("../fonts/helvetica/web_Helvetica_NeueLTStd/HelveticaNeueLTStd-LtCnO/HelveticaNeueLTStd-LtCnO.ttf") format("truetype"), url("../fonts/helvetica/web_Helvetica_NeueLTStd/HelveticaNeueLTStd-LtCnO/HelveticaNeueLTStd-LtCnO.svg#svgFontName") format("svg");
  /* Legacy iOS*/
}

@font-face {
  font-family: 'Condensed';
  src: url("../fonts/helvetica/web_Helvetica_NeueLTStd/HelveticaNeueLTStd-Cn/HelveticaNeueLTPro-Cn.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/helvetica/web_Helvetica_NeueLTStd/HelveticaNeueLTStd-Cn/HelveticaNeueLTPro-Cn.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica/web_Helvetica_NeueLTStd/HelveticaNeueLTStd-Cn/HelveticaNeueLTPro-Cn.woff") format("woff"), url("../fonts/helvetica/web_Helvetica_NeueLTStd/HelveticaNeueLTStd-Cn/HelveticaNeueLTPro-Cn.ttf") format("truetype"), url("../fonts/helvetica/web_Helvetica_NeueLTStd/HelveticaNeueLTStd-Cn/HelveticaNeueLTPro-Cn.svg#svgFontName") format("svg");
  /* Legacy iOS*/
}

@font-face {
  font-family: 'Light Condensed';
  src: url("../fonts/helvetica/web_Helvetica_NeueLTStd/HelveticaNeueLTPro-LtCn/HelveticaNeueLTPro-LtCn.eot.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/helvetica/web_Helvetica_NeueLTStd/HelveticaNeueLTPro-LtCn/HelveticaNeueLTPro-LtCn.eot.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica/web_Helvetica_NeueLTStd/HelveticaNeueLTPro-LtCn/HelveticaNeueLTPro-LtCn.eot.woff") format("woff"), url("../fonts/helvetica/web_Helvetica_NeueLTStd/HelveticaNeueLTPro-LtCn/HelveticaNeueLTPro-LtCn.eot.ttf") format("truetype"), url("../fonts/helvetica/web_Helvetica_NeueLTStd/HelveticaNeueLTPro-LtCn/HelveticaNeueLTPro-LtCn.eot.svg#svgFontName") format("svg");
  /* Legacy iOS*/
}

@font-face {
  font-family: 'Bold';
  src: url("../fonts/helvetica/web_Helvetica_NeueLTStd/HelveticaNeueLTStd-Bd/HelveticaNeueLTStd-Bd.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/helvetica/web_Helvetica_NeueLTStd/HelveticaNeueLTStd-Bd/HelveticaNeueLTStd-Bd.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica/web_Helvetica_NeueLTStd/HelveticaNeueLTStd-Bd/HelveticaNeueLTStd-Bd.woff") format("woff"), url("../fonts/helvetica/web_Helvetica_NeueLTStd/HelveticaNeueLTStd-Bd/HelveticaNeueLTStd-Bd.ttf") format("truetype"), url("../fonts/helvetica/web_Helvetica_NeueLTStd/HelveticaNeueLTStd-Bd/HelveticaNeueLTStd-Bd.svg#svgFontName") format("svg");
  /* Legacy iOS*/
}

@font-face {
  font-family: 'Bold Condensed';
  src: url("../fonts/helvetica/web_Helvetica_NeueLTStd/HelveticaNeueLTPro-BdCn/HelveticaNeueLTPro-BdCn.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/helvetica/web_Helvetica_NeueLTStd/HelveticaNeueLTPro-BdCn/HelveticaNeueLTPro-BdCn.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica/web_Helvetica_NeueLTStd/HelveticaNeueLTPro-BdCn/HelveticaNeueLTPro-BdCn.woff") format("woff"), url("../fonts/helvetica/web_Helvetica_NeueLTStd/HelveticaNeueLTPro-BdCn/HelveticaNeueLTPro-BdCn.ttf") format("truetype"), url("../fonts/helvetica/web_Helvetica_NeueLTStd/HelveticaNeueLTPro-BdCn/HelveticaNeueLTPro-BdCn.svg#svgFontName") format("svg");
  /* Legacy iOS*/
}

/* =============================================================================
 *  Icons
 * ========================================================================== */
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../fonts/bootstrap/glyphicons-halflings-regular.eot");
  src: url("../fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/bootstrap/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/bootstrap/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}

/* =============================================================================
 *  Size fonts to all web site
 * ========================================================================== */
h1{
	font-family: Extendet;
	font-size: 28px;
}
h2{
	font-family: Heavy;
	font-size: 26px;
}
h3{
	font-family: Bold;
	font-size: 22px;
}
h4{
	font-family: Medium;
	font-size: 18px;
}
h5, p{
	font-family: Roman;
}
h6{
	font-family: Light;
}
h7{
	font-family: Oblique;
	font-size: 10px;
}
h8{
	font-family: Bold Condensed;
	font-size: 20px;
}
h9{
	font-family: Condensed;
	font-size: 18px;
}
h10{
	font-family: Light Condensed;
	font-size: 16px;
}
/*END FONTS*/


/* =============================================================================
 *  Colors
 * ========================================================================== */
a{}
.btn {
    display: inline-block;
    /*background-image: none;*/
	background-color: #0870a2;
    border: 1px solid transparent;
    border-radius: 24px;
	color: #FFF;
}
.btn-big{
	font-size: 24px;
	padding: 6px 12%;
}
.btn-medium{
	font-size: 20px;
	padding: 4px 10%;
}
.btn-small{
	font-size: 16px;
	padding: 4px 8%;
}

.separator-line{
	height: 1px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 0px 5px;
	background-color: #FFF;
}

/*MAIN NAV BAR*/
.navbar-default {
    background-color: #FFF;
    border: 0px solid #FFF;
	height: 80px;
}
.navbar-nav{
	margin-top: 15px;
}
.navbar-nav li{
	margin-left: 2px;
}
.navbar-default .navbar-nav > li > a {
    color: #0b6eaa;
	border-radius: 4px;
}
.navbar-default .navbar-brand {
    background-color: #FFF;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #FFF;
    background-color: #0b6eaa;
}

/*CONTAINER STYLES*/
body{
	background: url(../img/main/bg-dealersite.jpg) no-repeat center center fixed;
	font-size: 14px;
	min-height: 768px;
}
#global-container{
	background-color: rgba(250,250,250,0.5);
	border: 1px solid #FFF;
	-webkit-box-shadow: 0px 0px 31px 5px rgba(255,255,255,1);
	-moz-box-shadow: 0px 0px 31px 5px rgba(255,255,255,1);
	box-shadow: 0px 0px 31px 5px rgba(255,255,255,1);

}
div.separator{
	height: 25px;
	background: url(../img/separator.png) no-repeat;
	font-size: 11px;
	padding-top: 3px;
	letter-spacing: 1px;
	color: #FFF;
	border-top: 2px solid #006dc2;
	padding-left: 15px;
}
.title-invoices, .title-company{
	margin: 20px 0px 20px 40px;
	color: #0870a2;
}
.row>.title-company>label{
	color: red;
}
#btnRegistrar{
	background: url(../img/main/btn-registrar-company.jpg) repeat-x;
	margin-top: 30px;
	margin-bottom: 40px;
}
#btnRegistrar:hover {
	color: #FFF;
	text-decoration: underline;
}
#img-welcome > img{
	width: 100%;
	margin-top: 100px;
}
.label-company{
	font-weight: bold;
	border-bottom: 1px dotted rgba(255,255,255,0.3);
}
#invoicesTable > thead > tr {
	background-color: #0b6eaa;
}
#invoicesTable > thead > tr > th {
	color: #FFF;
}












/*div.header{
	height:25px;
	text-align:right;
}
div.banner{
	padding-top: 25px;
	height:100px;
	text-align:center;
	color:#FFFFFF;
}
.link{
	cursor: pointer;
}
div.user_info{
	background: url(../img/banner/user_information.png) no-repeat top center;
	width: 192px;
	height: 90px;
}
div.user_info label.user_name{
	font-size: 13px;
	font-weight: bold;
}
div.user_info label.info_title{
	font-size: 14px;
	font-weight: bold;
}
div.info{
	height:25px;
	text-align:right;
}
div.clear{
    clear: both;
}

div.banner_info{
    margin-top: 3px;
    height:20px;
    text-align:left;
    font-size: 11px;
}
div.lower{
    margin-top: 60px;
    margin-left: 10px;
}

.myaccount{
    background:url(../img/myaccount.png);
    background-repeat:  no-repeat;
}

div.banner div.buttons{
    margin-top: 3px;

}


div.banner input.myaccount{
    background: url(../img/banner/blue_button.png) no-repeat;
    height: 28px;
    width: 152px;
    cursor: pointer;
    border: none;
    font-family: Helvetica;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
	margin-bottom: 10px;
	margin-top: 10px;
}

div.banner input.logout{
    background: url(../img/banner/red_button.png) no-repeat;
    height: 27px;
    width: 152px;
    cursor: pointer;
    border: none;
    font-family: Helvetica;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}

div.contents{
    margin-top: 10px;
    max-height:auto;
    min-height: 500px;
}
div.mainContent{
    min-height: 600px;
}
div.mainAlerts{
    margin-top: 20px;
}
.footer{
	text-align:right;
        background: url(../img/footer.png) no-repeat;
        margin-right: 25px;
        color: #ffffff;
        height: 36px;
}
div.header a{
	font-weight:bold;
	cursor:pointer;
}

LOGIN STYLES
div#login-body{
    background: url(../img/login-background.png) no-repeat;
    height: 322px;
    margin-top: 76px;
	margin-left: 240px;
}
div#login-body input.text-background{
	background: url(../img/text_background.png) no-repeat;
	border: none;
	width: 162px;
	height: 21px;
	padding-left: 5px;
}

div#login-body span.login-label{
    font-family: Helvetica;
    font-weight: bold;
    color: #808080;
	font-size: 14px;
}

div#login-body .login_submit{
	background: url(../img/submit_button.png) no-repeat;
	border: none;
	color: #FFF;
	font-weight: bold;
	cursor: pointer;
	width: 157px;
	height: 28px;
}

div#login-body .right{
	text-align: right;
}

END LOGIN STYLES
END CONTAINER STYLES

SCREEN FIXING STYLES
input[type=text], input[type=password], input.text, input.title, textarea, select {
	margin:0;
}
.txtArea{
	width:210px;
	max-width:210px;
	max-height:100px;
}

td, th, caption{
	padding: 0px;
}
END FIXING STYLES

FORM STYLES
.autocompleter{
	width:400px;
}
div.blabel{
	font-weight:bold;
}
div.line{
	margin-bottom:10px;
}
div.messages{
	margin-bottom:10px;
}
div.buttons{
	text-align:center;
}
div.title{
	font-weight:bold;
	text-transform:uppercase;
	font-size:14px;
	text-align:center;
	margin-bottom:10px;
}

div.titleCity{
	font-style:italic;
	font-weight:bold;
	text-transform:uppercase;
	font-size:12px;
	margin-bottom:5px; 
}

div.title label{
	font-size:11px;
	text-align:center;
	font-style:italic;
}


div.subtitle{
	font-weight:bold;
	font-size:12px;
	text-align:center;
}
div.center{
        text-align:center;
}
ul.alerts{
	list-style:none;
	font-weight:normal;
	background:#fdf5d7;
	border:2px solid #fee097;
	padding:.5em;
	display:none;
	color:#8a5e11;
	margin-bottom:15px;
}

div.showMessages{
	text-align:center;
}

div.specifications {
	font-size:10px;
	text-align:right;
}

div.separator{
	border-bottom:1px solid #0033FF;
        height: 25px;
        background: url(../img/separator.png) no-repeat;
        font-size: 11px;
        padding-top: 3px;
        letter-spacing: 1px;
        font-weight: bold;*0px;
        /*font-weight: bold;
        color: #ffffff;
        padding-left: 10px;



}

div.separator label{
	font-size:13px;
	font-style:italic;
}

div.separatorExtra{
    border-bottom:1px solid #0033FF;
}

.a-change {
	cursor:pointer;
}

.a-cancel {
	cursor:pointer;
	display: none;
}

.selectMultiple{
    height: 180px;
}

END FORM STYLES

.ui-accordion .ui-accordion-content { padding:5px; }
.accordion_lvl_3 h3 a { text-decoration:none; font-size:12px; font-family:Arial, Helvetica, sans-serif; }
.accordion_lvl_3 h3 { margin:5px; }
.accordion_lvl_2 h3 { font-size:15px; }
.accordion_lvl_1 h3 { font-size:12px; }
.ui-accordion-content{ zoom: 1; }

#loader{
	display: none;
}
#ajax_loader{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5000;
    background-color: #407FBB;
    width: 100%;
    height: 100%;
    filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}
div.ajax_loader_text{
	background:url(../img/ajax-loader.gif) no-repeat;
	position: fixed;
	padding-left: 35px;
	padding-bottom: 10px;
	top: 50%;
    left: 50%;
	color: #000000;
	font-size: 150%;
	font-weight: bold;
    color: white;
	z-index: 5001;
}
#selAppliedProduct{
    min-width: 270px;
    height: 290px;
}
for tables (sales,invoice taxes applied)
.tableTitle{
        color: #FFFFFF;
        padding:0 5px 0 5px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: bold;
        text-transform:uppercase;
        text-align:center;
    }
.tableField{
        padding:5px 5px 5px 5px;
        text-align:center;
        color:#000000;
}

Standar Width for Selects
.selectWidht{
	width: 190px;
	max-width: 190px;
	min-width: 190px;
}

.even-row{
    background-color: #d7e8f9;
}
.odd-row{
    background-color: #e8f2fb;
}
.refundTable{
	text-align: center;
}
.tableTitles{
	background-color: #284787;
	color: #FFFFFF;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
}

input.PDF{
    color: black;
    background: url(../img/file_acrobat.gif) no-repeat;
    height: 16px;
    width: 16px;
    cursor: pointer;
    border: none;
    font-family: Helvetica;
    font-weight: bold;
    color: #ffffff;
    text-align: right;
}

input.XLS{
    color: black;
    background: url(../img/page_excel) no-repeat;
    height: 16px;
    width: 16px;
    cursor: pointer;
    border: none;
    font-family: Helvetica;
    font-weight: bold;
    color: #ffffff;
    text-align: right;
}
input.SCREEN{
    color: black;
    background: url(../img/screen.png) no-repeat;
    height: 16px;
    width: 16px;
    cursor: pointer;
    border: none;
    font-family: Helvetica;
    font-weight: bold;
    color: #ffffff;
    text-align: right;
}

div.PDF{
    color: black;
    background: url(../img/file_acrobat.gif) no-repeat;
    height: 16px;
    width: 16px;
    cursor: pointer;
    border: none;
    font-family: Helvetica;
    font-weight: bold;
    color: #ffffff;
    text-align: right;
    float: left;
}

div.XLS{
    color: black;
    background: url(../img/page_excel) no-repeat;
    height: 16px;
    width: 16px;
    cursor: pointer;
    border: none;
    font-family: Helvetica;
    font-weight: bold;
    color: #ffffff;
    text-align: right;
    float: left;
}


Ajax Loader
#loader{
	display: none;
}
#ajax_loader{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5000;
    background-color: #407FBB;
    width: 100%;
    height: 100%;
    filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}
div.ajax_loader_text{
	background:url(../img/ajax-loader.gif) no-repeat;
	position: fixed;
	padding-left: 35px;
	padding-bottom: 10px;
	top: 50%;
    left: 50%;
	color: #000000;
	font-size: 150%;
	font-weight: bold;
    color: white;
	z-index: 5001;
}
.push_left{
	text-align: left;
}
.push_right{
	text-align: right;
}
.long_text{
	width: 250px;
}
.hide_me{
	display: none;
}
End Ajax Loader
.clickable{
	cursor: pointer;
}
.generalConditions{
	color: #E61E3B;
	font-size:10px;
	font-family: Helvetica;
	font-weight: bold;
	float: left;
}
.adobePDFImageMini{
	float: left;
}
.red_message{
	color: red;
	font-family: arial;
	font-size: 11px;
	font-weight: bold;
}
.estimatorOuterLabel{
	color: #2E6E9E;
	font-size:11px;
	font-family: Helvetica;
	font-weight: bold;
	float: left;
}
#ui-datepicker-div{
    z-index: 9999999;
}
.blueButton{
	-moz-border-radius:9px;
    -webkit-border-radius:9px;
	height:18px;
	color:#ffffff;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
    behavior:url(border-radius.htc);
	background-image:url("../img/btnbgr.jpg");
	background-position:center;
	text-align:center;
	cursor: pointer;
}
.barWidth{
	width: 260px;
}
.longWidth{
	width: 230px;
}
.medWidth{
	width: 200px;
}
.shortWidth{
	width: 120px;
}
.pushLeft{
	text-align: left;
}
.floatLeft{
	float: left;
}
.floatRight{
	float: right;
}
.pushDown{
	margin-top: 15px;
}
.process_loading{
	font-style: italic;
	font-weight: bold;
}
.siteMaintenanceBox{
	background: url("../img/cloudsBackground.png") no-repeat scroll 0 0 transparent;
	height: 400px;
	padding-top: 80px;
	color: #444444;
	font-size: 20px;
}
.constructionContainer{
	padding-top: 60px;
	padding-bottom: 20px;
}
.constructionIcon{
	padding-top: 80px;
}

.disableJavascript{
	font-size: 25px;
	color: #DD0C14;
	font-weight: bold;
	text-align: center;
	left: 40%;
	top: 40%;
	position: absolute;
	z-index: 5001;
}
.disableJavascriptIco{
	background-position: center;
	background: url(../img/jsalert.png);
	width:  100%;
	height: 104px;
	background-position: center;
	background-repeat: no-repeat;
}
.lostPass{
	color: #808080;
	font-size: 12px;
	font-weight: normal;
	cursor: pointer;
}
.small_gray_text{
    color: #aaaaaa;
    font-size: 10px;
    font-weight: bold;
}

div.left{
	text-align: left;
}

BOOTSTRAP FIXES 
.navbar-brand{
	padding: 0px;
	padding-left: 15px;
	padding-right: 15px;
}*/