<form id="frmUpdateDealerType" name="frmUpdateDealerType" method="post" action="{$document_root}modules/dealer/dealerType/pUpdateDealerType" >	
<div class="span-1 span-8 prepend-1 last line">
    <ul id="alerts_dialog" class="alerts"></ul>
</div>

<div class="span-10 last line">
	<div class="prepend-1 span-4">Alias:</div>
    <div class="span-4 append-1 last" id="dealName"></div>
</div>

<div class="span-10 last line">
	<div class="prepend-1 span-4">Idioma:</div>
    <div class="span-4 append-1 last" id="language"></div>
</div>

<div class="span-10 last line">
	<div class="prepend-1 span-4">Nombre:</div>
    <div class="span-4 append-1 last">
       	<input type="text" name="txtDesc" id="txtDesc" title="El campo 'Nombre' es obligatorio." />
    </div>
</div>
<input type="hidden" name="serialDealerTyByLang" id="serialDealerTyByLang" />
<input type="hidden" name="serialLanguage" id="serialLanguage" />
</form>